<% book = checkout.book %>
<tr id="book_<%=book.id%>" data-book_id=<%= book.id %> class="book">
  <td class="order bookClass"></td>
  <td class="title bookClass"><%= book.title %></td>
  <td class="author bookClass"><%= book.author %></td>
  <td class="lendDate bookClass"><%= checkout.checkoutdate.to_date %></td>
  <td class="dueDate bookClass"><%= checkout.duedate.to_date %></td>
  <td> <button data-check_id=<%= checkout.id %> class="prolong bookClass">연장</button> </td>
  <td> <button data-book_id=<%= book.id %> data-check_id=<%= checkout.id %> class="return bookClass">반납</button> </td>
</tr>
