<% book = checkout.book %>
<tr id="book_<%=book.id%>" data-book_id=<%= book.id %> class="book">
  <td class="order bookClass"></td>
  <td class="title bookClass"><%= book.title %></td>
  <td class="author bookClass"><%= book.author %></td>
  <td class="lendDate bookClass"><%= checkout.checkoutdate.to_date %></td>
  <td class="dueDate bookClass"><%= checkout.duedate.to_date %></td>
  <td> <button checkout_id=<%= checkout.id %> class="prolong">연장</button> </td>
  <td><%= link_to "<button>반납</button>".html_safe, root_path, :book_id => book.id, :checkout_id => checkout.id, :class => "return" %></td>
  
</tr>
