<% book = checkout.book %>
<tr class="book">
  <td class="order bookClass"><%= index %></td>
  <td class="title bookClass"><%= book.title %></td>
  <td class="author bookClass"><%= book.author %></td>
  <td class="lendDate bookClass"><%= checkout.checkoutdate.to_date %></td>
  <td class="returnDate bookClass"><%= checkout.checkoutdate.to_date %></td>
</div>

