<div class="user-list">
  <%= link_to "All Users  ", users_path, :class=>"link"%>
  <%= link_to "Lending Users  ", :controller => 'users', :action => 'lend_user', :class => "link" %>
  <%= link_to "Overdue Users", :controller => 'users', :action => 'late_user', :class => "link" %>
  <table class="table">
    <tr>
      <th> 이름</th>
      <th> email </th>
    </tr>
    <tr>
      <% @users.each do |user| %>
        <td> <%= user.name %> </td>
        <td> <%= user.email %> </td>
      <% end%>
    </tr>
  </table>
</div>
