<table class ="table">
  <tr>
    <th> name </th>
    <th> email </th>
    <th> overdue book </th>
    <th> return date </th>
    <th> overdued date </th>
  </tr>

  <tr>
    <% @users.each do |user| %>
      <td> <%= user.name %> </td>
      <td> <%= user.email %> </td>
      <% @books[user].each do |book| %>
        <th> <%= book.title %> </th>
        <th> <%= book.checkouts.last.duedate %> </th>
        <th> <%= Time.now+9.hours - book.checkouts.last.duedate %> </th>
      <% end %>
    <%end %>
  </tr>
</table>

