<%= render 'pagination'%>

<div class="pages">
  <%= link_to "previous", pagination_path(:current_page => (@current_page.to_i-1).to_s) %>
  <% @totalPageList.each do |page| %>
    <% if page == @current_page.to_i %>
      <b class= "pageNum"><%= page %></b>
    <% else %>
      <a href="/pagination?current_page=<%= page %>"><%= page %></a>
    <% end %>
  <% end %>
  <%= link_to "next", pagination_path(:current_page => (@current_page.to_i+1).to_s) %>
</div>

