
<div id="categorize">
  <p class="categorize">see</p>
  <select>
    <option value="all">all</option>
    <option value="문학">문학</option>
    <option value="비문학">비문학</option>
    <option value="전공서적">전공서적</option>
    <option value="예술">예술</option>
  </select>
</div>

<div id="booklist">

  <div id="booktop">
    <tr>
      <th class="category booktop">category</th>
      <th class="title booktop">title</th>
      <th class="author booktop">author</th>
      <th class="publisher booktop">publisher</th>
      <th class="available booktop">available</th>
    </tr>
  </div>

  <% if @books.count > 0 %>

    <% @books.each do |book| %>
      <div class="book">
        <div class = "outside">
          <tr>
            <td class="category "><%= book.category %></td>
            <td class="title "><%= book.title %></td>
            <td class="author "> <%= book.author %></td>
            <td class="publisher"><%= book.publisher %></td>
            <% if book.returned %>
              <td> <button book-id=<%= book.id %> class="available"> available </button> </td>
            <% else %>
              <td> <button book-id=<%= book.id %> class="unavailable"> unavailable </button> </td>
            <% end %>
          </tr>
        </div>
        <div class = "content">
          <img class="pic" src=<%= book.data[:cover] %>>
          <p class="title contentClass"><%= book.title %></p>
          <p class="author contentClass"><%= book.author %></p>
          <p class="category contentClass"><%= book.category %></p>
          <p class="publisher contentClass"><%= book.publisher %></p>
          <p class="description contentClass"><%= book.data[:description] %></p>
        </div>
      </div>
    <% end %>
  <% end %>


  <%= link_to "previous", pagination_path(:current_page => (@current_page.to_i-1).to_s) %>
  <% @totalPageList.each do |page| %>
    <% if page == @current_page.to_i %>
      <b id="currPageNum"><%= page %></b>
    <% else %>
      <a id="pageNum" href="/pagination?current_page=<%= page %>"><%= page %></a>
    <% end %>
  <% end %>
  <%= link_to "next", pagination_path(:current_page => (@current_page.to_i+1).to_s) %>


  <div id="search">
    <form action="/search">
      <select name="search_type">
        <option value="title">title</option>
        <option value="author">author</option>
      </select>

      <input name="search_query" type="text" class="searchbox" />
      <input type="submit" value="search"class="seachButton" />
    </form>
  </div>
