<div class="categorize">
  <p>see</p>
  <select>
    <option value="all">all</option>
    <option value="문학">문학</option>
    <option value="비문학">비문학</option>
    <option value="전공서적">전공서적</option>
    <option value="예술">예술</option>
  </select>
</div>

<div class="book-list">
  <table class="table">
    <thead>
    <tr>
      <th>category</th>
      <th>title</th>
      <th>author</th>
      <th>publisher</th>
      <th>available</th>
    </tr>
    </thead>
    <% if @books.count > 0 %>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.category %></td>
          <td><%= book.title %></td>
          <td> <%= book.author %></td>
          <td><%= book.publisher %></td>
          <% if book.returned %>
            <td> <button book-id=<%= book.id %> class="available"> available </button> </td>
          <% else %>
            <td> <button book-id=<%= book.id %> class="unavailable"> unavailable </button> </td>
          <% end %>
        </tr>
        <div class = "book-content" hidden = "yes">
          <img src=<%= book.data[:cover] %>>
          <p id="title"><%= book.title %></p>
          <p id="author"><%= book.author %></p>
          <p id="category"><%= book.category %></p>
          <p id="publisher"><%= book.publisher %></p>
          <p id="description"><%= book.data[:description] %></p>
        </div>
      <% end %>
    <% end %>
  </table>
</div>

<div class="pages">
  <%= link_to "previous", pagination_path(:current_page => (@current_page.to_i-1).to_s) %>
  <% @totalPageList.each do |page| %>
    <% if page == @current_page.to_i %>
      <b><%= page %></b>
    <% else %>
      <a href="/pagination?current_page=<%= page %>"><%= page %></a>
    <% end %>
  <% end %>
  <%= link_to "next", pagination_path(:current_page => (@current_page.to_i+1).to_s) %>
</div>

<div class="search">
  <form action="/search">
    <select name="search_type">
      <option value="title">title</option>
      <option value="author">author</option>
    </select>
    <input name="search_query" type="text" class="searchbox" />
    <input type="submit" value="search"class="seachButton" />
  </form>
</div>
