<div class="categorize">
  <p>see</p>
  <select>
    <option value="all">all</option>
    <option value="문학">문학</option>
    <option value="비문학">비문학</option>
    <option value="전공서적">전공서적</option>
    <option value="예술">예술</option>
  </select>
</div>

<div class="book-list">
  <table = "table">
    <tr>
      <th> 분류</th>
      <th>책제목</th>
      <th>저자</th>
      <th>출판사</th>
      <th>대여여부</th>
    </tr>

    <% if @books.count > 0 %>

      <% @books.each do |book| %>
        <tr>
          <td><%= book.category %></td>
          <td><%= book.title %></td>
          <td> <%= book.author %></td>
          <td><%= book.publisher %></td>
          <% if book.returned %>
            <td> <button book-id=<%= book.id %>> 대여가능 </button> </td>
          <% else %>
            <td> <button book-id=<%= book.id %>> 대여불가 </button> </td>
          <% end %>
        </tr>
        <div class = "book-content">
          <img src=<%= book.data[:cover] %>>
          <p id="title"><%= book.title %></p>
          <p id="author"><%= book.author %></p>
          <p id="category"><%= book.category %></p>
          <p id="publisher"><%= book.publisher %></p>
          <p id="description"><%= book.data[:description] %></p>
        </div>
      <% end %>
    <% end %>
  </table>
</div>

<div class="pages">
  <%= link_to "이전", pagination_path(:current_page => (@current_page.to_i-1).to_s) %>
  <% @totalPageList.each do |page| %>
    <% if page == @current_page.to_i %>
      <b><%= page %></b>
    <% else %>
      <a href="/pagination?current_page=<%= page %>"><%= page %></a>
    <% end %>
  <% end %>
  <%= link_to "다음", pagination_path(:current_page => (@current_page.to_i+1).to_s) %>
</div>

<div class="search">
  <form action="/search">
    <select name="search_type">
      <option value="title">책 제목</option>
      <option value="author">저자</option>
    </select>

    <input name="search_query" type="text" class="searchbox" />
    <input type="submit" value="검색" />
  </form>
</div>
