<%= render 'layouts/header' %>

  <%= render 'layouts/top_menu' %>

  <%= link_to root_path, :class => "logo" do %>
      <%= image_tag "wabook.png" %>
  <% end %>

  <div id="c">
  </div>

<%= yield %>

<%= render 'layouts/footer' %>
