<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>
  <%= render 'layouts/top_menu' %>
  <div>
    <%= link_to root_path, :class => "logo" do %>
      <%= image_tag "wabook.png" %>
    <% end %>
  </div>
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
